:root{
    --color-dark1: #0B2B40;
    --color-dark2: #164773;
    --color-light1: #1E5959;
    --color-light2: #3B8C6E;
    --color-white: #ffffff;
    --color-green: #89D99D;
    --color-red: #A52502;
}

body {
    font-family: 'poppins';
    background-color: var(--color-dark1);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
}

.content--add-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

#input-new-text, #button-new-text {
    border: none;
    font-size: 1rem;
    outline: none;
    padding: .5rem;
}

#input-new-text {
    width: 15rem;
    border-radius: 1rem;
}

#button-new-text {
    display: flex;
    background-color: var(--color-dark2);
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    transition: .3s;
}

#button-new-text:hover {
    background-color: #1E5959;
}

#to-do-list {
    display: flex;
    flex-direction: column;
    padding: 0;
}

#to-do-list li:hover {
    background-color: #164773;
    border-radius: 5px;
}

#to-do-list li {
    display: flex;
    list-style-type: none;
    font-size: 1.2rem;
    text-transform: capitalize;
    padding: 1rem;
    justify-content: space-between;
}

#to-do-list li button {
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: var(--color-green);
    color: var(--color-dark1);
    justify-content: center;
    align-items: center;
    display: flex;
    transition: .1s;
}

#to-do-list li button:hover {
    transform: scale(1.1);
}